@import "./variables.scss";

.redText {
    color: $txtRedColor;
}

// flex 
.flexRowWrap {
    display: flex;
    flex-flow: row wrap;
}
.flexSpaceAround {
    align-items: flex-start;
    justify-content: space-between;
}

// margin
.m-05 {
    margin: 0.5rem
}
.m-025 {
    margin: 0.25rem
}
.m-l-1 {
    margin-left: 10px !important;
}
// cursor
.pointer {
 cursor: pointer;
}