<div class="series_main m-025">
  <div class="filter">
    <div class="title flexRowWrap flexSpaceAround">
      <div class="title">{{ series }} Search</div>
      <div class="titleButton">
        <button class="mat-raised-button primary">setting</button>
      </div>
    </div>
    <div class="filter-field">
      <formly-form
        [form]="form"
        [fields]="fields"
        [model]="model"
      ></formly-form>
      <button
        (click)="onSubmit(model)"
        type="submit"
        color="primary"
        class="mat-raised-button"
      >
        Submit
      </button>
      <button class="mat-raised-button m-l-1" (click)="clearForm()">
        Clear
      </button>
    </div>
  </div>
  <div class="table">
    <div class="showValue m-05">
      {{ modelValues ?? 'txt' }}
    </div>
  </div>
</div>
