<div class="main-layout">
    <div class="flexRowWrap flexSpaceAround textClick">
        <button mat-raised-button 
            color="primary" class="m-05 pointer" 
            matTooltip="Todo" 
            matTooltipPosition="above"
            routerLink="/todo"><a>Todo</a></button>
        <p class="m-05 pointer" routerLink="/series"><a>Series</a></p>
        <p class="m-05 pointer" routerLink="/"><a>Back</a></p>
    </div>
    <main>
        <router-outlet></router-outlet>
    </main>
</div>
